<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="username" value="name" />
	<parameter name="password" value="password" />
	<test thread-count="5" name="Test1">
		<classes>
			<class name="test.first" />
		</classes>
	</test>
	<test thread-count="5" name="Test2">
		<classes>
			<class name="test.second">
				<methods>
					<!--exclude name="EnterDetails"></exclude-->
				</methods>
			</class>
		</classes>
	</test>
	<listeners>
		<listener class-name="test.Listeners" />
	</listeners>
</suite> 
